:root {
	color-scheme: light dark;
}

video{
	max-width: 100vw;
	max-height: 100vh;
}

img{
	max-width: 100vw;
	max-height: 100vh;
}

title{
	color: white;
}

.viewControls {
	position: fixed;
	top: 10;
	right: 10;
	z-index: 2;
}

#content{
	position: absolute;
	top: 50;
	z-index: 1;
}

#current_dir{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
