:root {
	color-scheme: light dark;
}

.video-container{
	height: 100vh;
}

img{
	max-width: 100vw;
	max-height: 100vh;
}

title{
	color: white;
}

#top_bar {
	position: fixed;
	top:0;
	width: 100%;
	height: 2em;
	z-index: 2;
}

.viewControls {
	position: absolute;
	top: 0;
	right: 0;
}

#current_dir{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.6em;
}
#content{
	position: relative;
	top: 3em;
	z-index: 1;
}

